{{with .Account -}}
Dear {{.FirstName}} {{.LastName}},  
{{- end}}

To check the special offers we have for you before {{.FromDate | formatAsDate}}, please follow this '<a href="http://localhost">'link</a>.

Thank you 
